<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:fragment="head(title)">
			<!-- Required meta tags -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<!-- Bootstrap CSS -->
			<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
			
			<!-- My CSS -->
			<link th:rel="stylesheet" th:href="@{/css/style.css}"/>
						
			<title th:text="${title}"></title>
		</th:block>
	</head>
	<body>
		<!-- Header -->
		<header th:fragment="header">
			<div class="text-center bg-body-secondary py-2 mb-3">
				<span class="fs-2">Ticket Platform</span>
			</div>
		</header>
		<!-- /Header -->
		
		<!-- Sidebar -->
		<th:block th:fragment="sidebar(title)">
			<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-secondary" id="sidebar">
			    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			      <span class="fs-4">Sidebar</span>
			    </a>
			    <hr>
			    <ul class="nav nav-pills flex-column mb-auto">
			      <li class="nav-item">
			        <a th:href="@{/}" class="nav-link link-body-emphasis" th:classappend="${title == 'Homepage' ? 'active' : 'inactive'}">
			          Home
			        </a>
			      </li>
			      <li>
			        <a th:href="@{/tickets}" class="nav-link link-body-emphasis" th:classappend="${title == 'Tickets' ? 'active' : 'inactive'}">
			          Tickets
			        </a>
			      </li>
			      <li>
			        <a th:href="@{/users}" class="nav-link link-body-emphasis" th:classappend="${title == 'Operatori' ? 'active' : 'inactive'}"
								sec:authorize="hasAuthority('ADMIN')">
			          Operatori
			        </a>
			      </li>
			      <li>
			        <a th:href="@{/notes}" class="nav-link link-body-emphasis" th:classappend="${title == 'Note' ? 'active' : 'inactive'}">
			          Note
			        </a>
			      </li>
			    </ul>
			    <hr>
			    <div class="dropdown">
			      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
			        <strong th:text="${#authentication.principal.firstName} + ' ' + ${#authentication.principal.lastName}"></strong>
			      </a>
			      <ul class="dropdown-menu text-small shadow">
			        <li><a class="dropdown-item" th:href="@{/users/profile}">Profilo</a></li>
			        <li><hr class="dropdown-divider"></li>
			        <li><a class="dropdown-item" href="/logout">Log out</a></li>
			      </ul>
			    </div>
			  </div>
		</th:block>
		<!-- /Sidebar -->
		
		<!-- Alert message -->
		<th:block th:fragment="alert(alertMessage, alertClass)">
			<div class="alert alert-dismissible fade show d-flex align-items-center" th:classappend="${alertClass}" role="alert">
				  <svg th:if="${alertClass} == 'alert-success'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
				  		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
				  </svg>
				  <svg th:if="${alertClass} == 'alert-danger'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
				  		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				  </svg>
				  <div th:text="${alertMessage}"></div>
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</th:block>
		<!-- /Alert message -->
		
		<!-- Scripts -->
		<th:block th:fragment="scripts">
			<!-- Bootstrap JS -->
			<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
		</th:block>
		<!-- /Scripts -->
	</body>
</html>