<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments\fragments :: head(title = 'Aggiorna Password')}">
</head>

<body>
	<header th:replace="~{fragments\fragments :: header}"></header>
    
    <main class="d-flex align-items-center">
	    <!-- Sidebar -->
		<th:block th:replace="~{fragments\fragments :: sidebar(title = 'Aggiorna Password')}"></th:block>
		<!-- Content -->
        <div class="container text-center col-4">
            <h1 class="mt-4 mb-3">Aggiorna la tua password</h1>
			<!-- Form -->
			<form class="row g-3 text-start"
				id="password-form" 
				method="POST" 
				th:action="@{/users/updatePassword}"
				>
				
				<div class="col-12">
					  <label for="oldPassword" class="form-label fw-medium">Inserisci la password attuale:</label>
					  <input type="text" class="form-control" name="oldPassword" th:classappend="${oldPasswordNotMatch != null ? 'is-invalid' : ''}">
					  <div th:if="${oldPasswordNotMatch} != null" class="invalid-feedback">
						<ul>
							<li th:text="${oldPasswordNotMatch}"></li>
						</ul>
					  </div>
				</div>
				
				<div class="col-12">
					  <label for="newPassword" class="form-label fw-medium">Inserisci la nuova password:</label>
					  <input type="text" class="form-control" name="newPassword" >
					  <div class="invalid-feedback">
							<ul>
								<li ></li>
							</ul>
					  </div>
				</div>
				
				<div class="col-12 d-flex justify-content-center">
					<button type="submit" class="btn btn-primary">Aggiorna Password</button>
				</div>
			</form>
			<!-- /Form -->
        </div>
		<!-- /Content -->
    </main>

    <th:block th:replace="~{fragments\fragments :: scripts}"></th:block>
</body>
</html>
