<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments\fragments :: head(title = 'Errore Interno')}">
</head>

<body>
	<header th:replace="~{fragments\fragments :: header}"></header>
    
    <main class="d-flex align-items-center">
	    <!-- Sidebar -->
		<th:block th:replace="~{fragments\fragments :: sidebar(title = 'Errore Interno')}"></th:block>
		<!-- Content -->
        <div class="container text-center">
            <h1 class="my-3">Abbiamo riscontrato un errore!</h1>
            <p >Lo risolveremo il prima possibile.</p>
        </div>
    </main>

    <th:block th:replace="~{fragments\fragments :: scripts}"></th:block>
</body>
</html>